{% extends 'base.html' %}
{% load static %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<section class="auth">
    <div class="container">
        <h2 class="title">Регистрация</h2>  
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="button-succes">Регистрация</button>
        </form>
        <p class="help">Если у Вас есть аккаунт, то перейдите по <a href="{% url 'login_page' %}" class="help-link">ссылке</a></p>
    </div>
</section>
{% endblock %}